<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>index</title>
</head>
<body>
<div>
    <h2>Hello <span th:text="${user.name}"></span></h2>
    <div>
        <ul>
            <li sec:authorize="hasAnyRole('ADMIN','CEO')">ADMIN/CEO能看到的菜单1</li>
            <li sec:authorize="hasAnyRole('ADMIN','CEO')">ADMIN/CEO能看到的菜单2</li>
            <li sec:authorize="hasAnyRole('ADMIN','CTO')">ADMIN/CTO能看到的菜单3</li>
            <li sec:authorize="hasAnyRole('ADMIN','CTO')">ADMIN/CTO能看到的菜单4</li>
            <li sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">ADMIN/EMPLOYEE能看到的菜单5</li>
            <li sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">ADMIN/EMPLOYEE能看到的菜单6</li>
            <li sec:authorize="hasAnyRole('USER')">USER能看到的菜单7</li>
            <li sec:authorize="hasAnyRole('USER')">USER能看到的菜单8</li>
        </ul>
    </div>
    <br/>

    <div>
        <a href="/logout">Logut...</a>
    </div>
</div>
</body>
</html>